body{
  background: lightyellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

button{
  background: pink;
  margin: 20px;
  color: white;
  font-weight: bold;
}

.App {
  color: turquoise;
  text-align: center;
  font-size: 40px;
  border: 5px solid pink;
  border-radius: 25px;
  width: 500px;
  /* height: 500px; */
  top: 50px;
  /* bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;

}


